.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teacher {
    width: 350px;
    border: 2px black solid;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: sans-serif;
}

.invite {
    border: 2px rgb(61, 61, 61) solid;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 20px;
    color: orange;
    display: block;
    margin-bottom: 10px;
}

.invite:hover {
    background-color: rgb(141, 141, 141);
}

.mail {
    border: 2px rgb(61, 61, 61) solid;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 20px;
    color: orange;
    display: block;
}